.lt-textile {
  font-family: Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  padding: 30px;
  color: black;
  overflow: scroll;
}

.lt-textile em{
  font-style: italic;
}

.lt-textile pre,xmp, plaintext, listing, tt, code {
  font-family: monospace;
}

.lt-textile > *:first-child {
  margin-top: 0 !important;
}
.lt-textile > *:last-child {
  margin-bottom: 0 !important;
}
.lt-textile a {
  color: #4183C4;
}
.lt-textile a.absent {
  color: #cc0000;
}
.lt-textile a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.lt-textile h1,
.lt-textile h2,
.lt-textile h3,
.lt-textile h4,
.lt-textile h5,
.lt-textile h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
}
.lt-textile h1:hover a.anchor,
.lt-textile h2:hover a.anchor,
.lt-textile h3:hover a.anchor,
.lt-textile h4:hover a.anchor,
.lt-textile h5:hover a.anchor,
.lt-textile h6:hover a.anchor {
  background: url("../../images/modules/styleguide/para.png") no-repeat 10px center;
  text-decoration: none;
}
.lt-textile h1 tt,
.lt-textile h1 code {
  font-size: inherit;
}
.lt-textile h2 tt,
.lt-textile h2 code {
  font-size: inherit;
}
.lt-textile h3 tt,
.lt-textile h3 code {
  font-size: inherit;
}
.lt-textile h4 tt,
.lt-textile h4 code {
  font-size: inherit;
}
.lt-textile h5 tt,
.lt-textile h5 code {
  font-size: inherit;
}
.lt-textile h6 tt,
.lt-textile h6 code {
  font-size: inherit;
}
.lt-textile h1 {
  font-size: 28px;
  color: black;
}
.lt-textile h2 {
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  color: black;
}
.lt-textile h3 {
  font-size: 18px;
}
.lt-textile h4 {
  font-size: 16px;
}
.lt-textile h5 {
  font-size: 14px;
}
.lt-textile h6 {
  color: #777777;
  font-size: 14px;
}
.lt-textile p,
.lt-textile blockquote,
.lt-textile ul,
.lt-textile ol,
.lt-textile dl,
.lt-textile li,
.lt-textile table,
.lt-textile pre {
  margin: 15px 0;
}
.lt-textile hr {
  background: transparent url("../../images/modules/pulls/dirty-shade.png") repeat-x 0 0;
  border: 0 none;
  color: #cccccc;
  height: 4px;
  padding: 0;
}
.lt-textile body > h2:first-child {
  margin-top: 0;
  padding-top: 0;
}
.lt-textile body > h1:first-child {
  margin-top: 0;
  padding-top: 0;
}
.lt-textile body > h1:first-child + h2 {
  margin-top: 0;
  padding-top: 0;
}
.lt-textile body > h3:first-child,
.lt-textile body > h4:first-child,
.lt-textile body > h5:first-child,
.lt-textile body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
.lt-textile a:first-child h1,
.lt-textile a:first-child h2,
.lt-textile a:first-child h3,
.lt-textile a:first-child h4,
.lt-textile a:first-child h5,
.lt-textile a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
.lt-textile h1 p,
.lt-textile h2 p,
.lt-textile h3 p,
.lt-textile h4 p,
.lt-textile h5 p,
.lt-textile h6 p {
  margin-top: 0;
}
.lt-textile li p.first {
  display: inline-block;
}
.lt-textile ul,
.lt-textile ol {
  padding-left: 30px;
}
.lt-textile ul :first-child,
.lt-textile ol :first-child {
  margin-top: 0;
}
.lt-textile ul :last-child,
.lt-textile ol :last-child {
  margin-bottom: 0;
}
.lt-textile dl {
  padding: 0;
}
.lt-textile dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
.lt-textile dl dt:first-child {
  padding: 0;
}
.lt-textile dl dt > :first-child {
  margin-top: 0;
}
.lt-textile dl dt > :last-child {
  margin-bottom: 0;
}
.lt-textile dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
.lt-textile dl dd > :first-child {
  margin-top: 0;
}
.lt-textile dl dd > :last-child {
  margin-bottom: 0;
}
.lt-textile blockquote {
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}
.lt-textile blockquote > :first-child {
  margin-top: 0;
}
.lt-textile blockquote > :last-child {
  margin-bottom: 0;
}
.lt-textile table {
  padding: 0;
}
.lt-textile table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}
.lt-textile table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.lt-textile table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.lt-textile table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}
.lt-textile table tr th :first-child,
.lt-textile table tr td :first-child {
  margin-top: 0;
}
.lt-textile table tr th :last-child,
.lt-textile table tr td :last-child {
  margin-bottom: 0;
}
.lt-textile img {
  max-width: 100%;
}
.lt-textile span.frame {
  display: block;
  overflow: hidden;
}
.lt-textile span.frame > span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}
.lt-textile span.frame span img {
  display: block;
  float: left;
}
.lt-textile span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}
.lt-textile span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}
.lt-textile span.align-center > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}
.lt-textile span.align-center span img {
  margin: 0 auto;
  text-align: center;
}
.lt-textile span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}
.lt-textile span.align-right > span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}
.lt-textile span.align-right span img {
  margin: 0;
  text-align: right;
}
.lt-textile span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}
.lt-textile span.float-left span {
  margin: 13px 0 0;
}
.lt-textile span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}
.lt-textile span.float-right > span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}
.lt-textile code,
.lt-textile tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
.lt-textile pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.lt-textile .highlight pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.lt-textile pre {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
.lt-textile pre code,
.lt-textile pre tt {
  background-color: transparent;
  border: none;
}
